<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Alexandra Alfaro" />
  <meta name="description" content="Art, writing and contact for Alexandra Alfaro" />
  <link rel="stylesheet" href="/css/base.css" type="text/css" />
</head>
<body>

<div id="header">

  <a id="logo" class="no-style-a" href="/">AA</a>

  <div id="is-a">
    <span>Alexandra is</span><span class="what"><span>an</span><span>artist</span>
  </div>

  <div id="sections">
    <div><a href="/work">work</a></div>
    <div><a href="/">thoughts</a></div>
    <div><a href="/about">about</a></div>
  </div>

</div>

<div id="content">
{{ content }}
</div>

<script src="/js/isawhat.js"></script>

</body>
</html>
